<div class="container text-center profile">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.avatar, class: "img-responsive center-block" %>
      <br>
    </div>

    <div class="col-md-8 form-group">
      <h1><%= @user.name %></h1><hr>
      <h3><%= @user.email %></h3><br>
      <p><%= simple_format@user.intro %></p>

      <% if @user.id == current_user.id %>
        <%= link_to "<span class='glyphicon glyphicon-edit'></span>  會員資料編輯".html_safe, edit_user_path(@user), class: "btn btn-default" %>
      <% end %>

    </div>
    
  </div>
  <br>
  <br>
  <hr>
  <%= link_to "回到上一頁", :back, class: "btn btn-default" %>
</div>
