<div class="container">
<!-- 表單驗證 -->
  
  <% if @restaurant.errors.present? %>
    <ol class="container">
    <% @restaurant.errors.each do |error, message|%>
      <div class="alert alert-danger" role="alert">
      <li>WARNING: <%= "#{error.capitalize}  #{message}" %></li>
      </div>
    <% end %>
    </ol>
  <% end %>
  <!-- 建立restaurant record -->
  <div class="form-group">
    <%= form_for [:admin, @restaurant] do |restaurant| %>
      <%= restaurant.label :name, "Name" %>
      <%= restaurant.text_field :name , class: "form-control" %>

      <%= restaurant.label :tel, "Tel" %>
      <%= restaurant.text_field :tel , class: "form-control" %>

      <%= restaurant.label :address, "Address" %>
      <%= restaurant.text_field :address , class: "form-control" %>

      <%= restaurant.label :opening_hours, "Opening Hours" %>
      <%= restaurant.text_field :opening_hours , class: "form-control" %>

      <%= restaurant.label :description, "Description" %>
      <%= restaurant.text_area :description , class: "form-control" %>

      <%= restaurant.label :image, "Photo" %>
      <%= image_tag @restaurant.image, width: '300px' if @restaurant.image? %>
      <%= restaurant.file_field :image %>

     <%= restaurant.submit %> 
    <%end %>
  </div>
  <%= link_to "Home", admin_restaurants_path %>

</div>